---
layout: mcontents
title: Content

---
{% for category in site.categories %}
<div class="vlog-slot-c"> 
	<h2 style="border-bottom:3px solid lightgray; padding:20px auto;" id="{{ category[0] }}">{{ category[0] | capitalize }}</h2>
</div>

  <ul>
    {% assign pages_list = category[1] %}
    {% for post in pages_list %}
      {% if post.title != null %}
      {% if group == null or group == post.group %}
<article class="vlog-lay-g vlog-cat col-lg-3 col-md-3 col-sm-6 col-xs-12 post-299 post type-post status-publish format-standard has-post-thumbnail hentry category-language">
	
	    <div class="entry-image">
	    <a href="{{site.baseurl}}{{post.url}}" title="སྐད་ཡིག">
	       	<img width="249" height="140" src="{{site.baseurl}}/{{post.thumbnail}}" />	       		    </a>
    </div>
	<div class="entry-header">
	    <h2 class="entry-title h6"><a href="{{site.baseurl}}{{post.url}}">{{post.title}}</a></h2>
	</div>
	    
</article>  
 {% endif %}
      {% endif %}
    {% endfor %}
    {% assign pages_list = nil %}
    {% assign group = nil %}
  </ul>
{% endfor %}