---
layout: mcontent-full
title: འདྲ་པར།

---
 <article id="post-653" class="post-653 page type-page status-publish hentry"> 
  <div class="entry-content entry-content-single">
                    <figure class="wp-block-image"><img alt="" />
<div id='gallery-2' class='gallery galleryid-653 gallery-columns-3 gallery-size-vlog-lay-e-full'>{% for image in site.static_files %}{% if image.path contains 'assets/gallery' %}<figure class='gallery-item'><div class='gallery-icon'><a href='{{ site.baseurl }}{{ image.path }}'><img class="gallery-thumbnail" width="344" height="193" src="{{ site.baseurl }}{{ image.path }}" /></a>
</div></figure>{% endif %}{% endfor %}</div>
</figure>
</div>
</article>