<div class="vlog-sidebar vlog-sidebar-right">
	

	<!-- Test latest post Start -->
	<div id="recent-posts-2" class="widget widget_recent_entries">
		<h4 class="widget-title h5"><span>ཉེ་ཆར་གྱི་བརྙན་ཐུང་།</span></h4>
		<ul>
			{% for post in site.posts limit : 5%}
			<li><h2><a href="{{site.baseurl}}{{post.url}}">{{ post.title }}</a></h2></li>
			{% endfor %}
		</ul>
	</div>
<!-- Test latest post Ends-->
	<div id="archives-2" class="widget widget_archive">
		<h4 class="widget-title h5"><span>བརྙན་མཛོད།</span></h4>	
		<ul>
			<li><a href='../date/2018/04/index.html'>April 2018</a></li>
			<li><a href='../date/2018/03/index.html'>March 2018</a></li>
			<li><a href='../date/2018/02/index.html'>February 2018</a></li>
			<li><a href='../date/2018/01/index.html'>January 2018</a></li>
		</ul>
	</div>
	<div id="archives-2" class="widget widget_archive">
		<h4 class="widget-title h5"><span>Date Archives</span></h4>	
		<ul>
			{% for post in site.posts  limit : 5%}
			  {% assign currentdate = post.date | date: "%-m/%-d/%Y" %}
			  {% if currentdate != date %}
			    	<li id="y{{currentdate}}">{{ currentdate }}</li>
			    {% assign date = currentdate %} 
			  {% endif %}
			    	<li><a href="{{site.baseurl}}{{ post.url }}">{{ post.title }}</a></li>
			{% endfor %}
		</ul>
	</div>

</div>
