
{% include mheader.html %}
<div id="content" class="vlog-site-content">
<div class="vlog-section ">
	<div class="container">
	   <div class="vlog-content">
			<article id="post-8" class="post-8 page type-page status-publish hentry">	
				<div class="entry-content entry-content-single">
					<div class="vlog-module module-posts col-lg-12">											
				    <div class="vlog-mod-head"><div class="vlog-mod-title"><h1 class="h4"> སྡེ་ཚན། </h1></div></div>
				    <div class="row vlog-posts row-eq-height vlog-posts">          
                    	
                    <article class="vlog-lay-a vlog-post post-194 post type-post status-publish format-standard has-post-thumbnail hentry category-environment">
                        <div class="entry-image">
                            <a href="../../2018/02/194/index.html" title="ཁོར་སྲུང་།">
                                <img width="1104" height="621" src="{{post.thumbnail}}" sizes="(max-width: 1104px) 100vw, 1104px" />
                                <div class="vlog-labels large"><span class="vlog-format-label">བརྙན་འཕྲིན།</span></div>
                           </a>
                        </div>


      <h1><a href="{{category.permalink}}">{{category.title}}</a></h1>

                            <div class="col-vlog-offset">
                                <div class="entry-header">
                                    <span class="entry-category"><a href="index.html" class="vlog-cat-6">{{post.category}}</a></span>
                                    <h2 class="entry-title h1"><a href="../../2018/02/194/index.html">{{post.title}}</a></h2>
                                </div>
                                <div class="entry-meta">
                                    <div class="meta-item meta-date"><span class="updated meta-icon">2 months ago</span></div>
                                    <div class="meta-item meta-author">
                                        <span class="vcard author">
                                            <span class="fn"><a href="../../author/admin/index.html" class="meta-icon">{{post.author}}</a></span>
                                        </span>
                                    </div>
                                </div>
                                <div class="entry-content">
                                     <h1>{{post.title}}</h1>
                                    {{post.description}}
                                </div>
                                  <a class="vlog-rm" href="{{post.url}}" title="ཁོར་སྲུང་།">མང་དུ་ཀློག།</a>    
                            </div>
                    </article>                  
				    </div>
			    </div>					
			</article>
	  </div>

 

{%include msidebarR.html %}
	</div>
</div>
</div>
{% include mfooter.html %}



