
{% include mheader.html %}
<div id="content" class="vlog-site-content">
	<div class="vlog-section ">
		<div class="container">
		   <div class="vlog-content">
	 			<div class="vlog-section vlog-no-sid  ">
	            <div class="container">
	                <div class="vlog-content">
	                    <div class="row row-eq-height">      
	                        <div class="vlog-module module-cats col-lg-12 col-md-12 col-sm-12 " id="vlog-module-0-0" data-col="12">
	                        	{{content}}
						
							</div>                                    
	                    </div>
	                </div>   
	            </div>
	        </div>
		  </div>
		</div>
	</div>
</div>
{% include mfooter.html %}